version: '3.8'
services:
  web:
    container_name: vdt-midterm-web
    build: ./
    ports:
      - '80:80'
    restart: always
    image: vdt-midterm-web:v1
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    external: true
